body{
  bacground-color: lightblue;
  text-align: center;
  display: flex;
}
form{
  outline: 1px solid red;
  padding: 45px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  width: 100px;
  background-color: plum;
  
  
}
form input{
  background-color: green;
  width: 100px;
  outline: none;
  border: none;
  
} 
textarea{
  background-color: green;
  width: 100px;
  outline: none;
  border: none;
}

